<div class="w-50">
  <ul class="nav flex-column w-75">
    <li class="nav-item mt-3 ms-1">
      <a class="btn btn-primary w-50" aria-current="page" href="/admin"
        >Administradores <i class="fa-solid fa-user-tie"></i
      ></a>
    </li>
    <li class="nav-item ms-1">
      <a class="btn btn-secondary w-50" href="/admin/clients/"
        >Clientes <i class="bi bi-people-fill"></i
      ></a>
    </li>
    <li class="nav-item ms-1">
      <a class="btn btn-info text-white w-50" href="/productos/admin"
        >Productos <i class="fa-solid fa-store"></i
      ></a>
    </li>
  </ul>
</div>
