html,
body {
  height: 100%;
}

.bi-trash {
  color: red;
}

.bi-pencil,
.bi-eye {
  color: blue;
}

.bi-basket, #border-warning {
  color: #ff8906 !important;
}

.bi-file-earmark-spreadsheet {
  color: green;
}
#avatar {
  width: 100px;
  height: 100px;
}


.error,.bi-file-earmark-pdf-fill {
  color: red;
  position: relative;
}
